.nav {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #fafafa;
  box-sizing: border-box;
  padding: 20px 50px;
  border-top: rgba(121, 121, 121, 0.3);
}

.nav__list {
  display: flex;
  justify-content: space-between;
}
.nav__link {
  position: relative;
  color: #2e363e;
}
.nav__notification {
  background-color: tomato;
  padding: 0;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  color: white;
  font-weight: 600;
  position: absolute;
  left: 190px;
  bottom: 35px;
}
.nav__important {
  background-color: tomato;
  padding: 0;
  width: 6px;
  height: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 3px;
  color: white;
  font-weight: 600;
  position: absolute;
  left: 455px;
  bottom: 45px;
}
